@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
        .mynavbar {
            font-family: 'Outfit', sans-serif;
            text-align: center !important;
            display: inline-block;
            justify-content: center !important;
        }
        .mynavbar * {
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        .mynav ul{
            list-style: table;
            text-align: center;
        }
        .mynavbar li {
            display: inline-block;
            list-style: outside none none;
            margin: 0 1.5em;
            overflow: hidden;
        }
        .mynavbar a {
            padding: 0.3em 0;
            color: rgba(255, 255, 255, 0.5);
            position: relative;
            display: inline-block;
            letter-spacing: 1px;
            margin: 0;
            text-decoration: none;
        }
        .mynavbar a:before,
        .mynavbar a:after {
            position: absolute;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        .mynavbar a:before {
            bottom: 100%;
            display: block;
            height: 5px;
            width: 100%;
            content: "";
            background-color: rgba(209, 185, 50, 0.89);
        }
        .mynavbar a:after {
            padding: 0.3em 0;
            position: absolute;
            bottom: 100%;
            left: 0;
            content: attr(data-hover);
            color: rgba(209, 185, 50, 0.89);
            white-space: nowrap;
        }
        .mynavbar li:hover a,
        .mynavbar .current a {
            transform: translateY(100%);
        }

        body{
            background-image:url(https://images.unsplash.com/photo-1556695736-d287caebc48e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWV0cm98ZW58MHx8MHx8&w=1000&q=80)!important;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
       