{% extends 'railapp/main.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of Routes</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>ROUTE ID</td>
    <td>USER NAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>PRICE</td>
    <td>DATE</td>
    <td>TIME</td>
    <td>STATUS</td>
    <td>PAYMENT STATUS</td>
    <td> </td>
    <td></td>

    
    </thead>
    <thead style="background-color: rgb(80, 82, 81);color: rgb(255, 255, 255);">
    {% for row in book_list %}
    <tr>
        
        <td>{{row.routeid}}</td>
        <td>{{row.username}}</td>
        
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>
        <td>{{row.payment_status}}</td>
        {% if row.is_refunded == True %}
            <td><p> Please Book Again </p>
        {% elif row.is_paid == False %}
            <td><a class="btn btn-sm btn-warning" href="{% url 'payments' row.id%}">Make Payment</a></td>
            <td></td>
        {% elif row.is_paid == True %}
            <td><a class="btn btn-sm btn-danger" href="{% url 'cancellings' row.id%}">Cancel Booking</a></td>
            <td></td>
       
        {% endif %}
		


    </tr>
    {% endfor %}
    
    </thead>
</table>


{% endblock %}