
{% extends 'railapp/main.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>Route Availability</h2>
<table class="table table-striped" >
    <thead style="background-color: rgb(80, 82, 81);color: rgb(255, 255, 255);">
    <td>ID</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>NUM OF SEATS REM</td>
    <td>PRICE</td>
    <td>DATE</td>
    <td>TIME</td>

    </thead>
    <thead style="background-color: rgb(80, 82, 81);color: rgb(255, 255, 255);">
    {% for row in route_list %}
    <tr>
        <td>{{row.routeId}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.rem}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        


    </tr>
    {% endfor %}
    </thead>
</table>
<form action="{% url 'create_order' %}" method="post">
    {% csrf_token %}

    <div class="pull-right">
        <button type="submit" class="btn btn-success float-left">Proceed</button>
    </div>


    {{error}}

</form>


{% endblock %}