{% load static %}
<head>
<title>Log In</title>
<link rel="shortcut icon" href="{% static 'images/bymetrorail.ico' %}" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://kit.fontawesome.com/6bfc56eb45.js" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
#brand{
        width:250px;
        display:block;
        margin-top:5px;
        padding-top: 5spx;
    }
</style>
	
</head>
<body>
<div class="login-reg-panel">
		<div class="login-info-box">
			<img id="brand" src="{% static 'images/bylogometro.png' %}" alt="logo"></a>
			<h2>Are you a General User?</h2>
			<p>login now to buy Digital Tickets and Check train schedule</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<img id="brand" src="{% static 'images/bylogometro.png' %}" alt="logo"></a>
			<h2>Are you a Train Master?</h2>
			<p>If you are a staff member <br> and want to access administrative panel, functionalities </p>
			<label id="label-login" for="log-login-show">Log In From Here</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
		<form method="POST" action="{% url 'log' %}">	
		{% csrf_token %}				
		<div class="white-panel">
			<div class="login-show">
			    <div class="headline">
				<i class="fas fa-user fa-2x" style="margin-right:3px;"></i>
				<h2>General User : Log In</h2>
				</div>
				<input type="text" name="guser_name" placeholder="Username">
				<input type="password" name="guser_password" placeholder="Password">
				{% for message in messages %}
                <p style="color:red;text-align:center;" id="messages">{{message}}</p>
                {% endfor %}
				<input class="btn" type="submit" value="Login">
				<a href="">Forgot password?</a><br>
				<p>Not registered yet? </p>
                <div class="extra">
                <a href="{% url 'home' %}" style="width:7rem;" class='btn'>Go Back</a>
                <a href="{% url 'signup' %}" style="width:10rem;" class='btn'>Register Here</a>
				
                </div>
			</div>
		</form>
		<form method="POST" action="{% url 'log2' %}">
			{% csrf_token %}
			<div class="register-show">
				<div class="headline">
				<i class="fas fa-users-cog fa-2x" style="margin-right:3px;"></i>
				<h2>Train Master : Log In</h2>
				</div>
				<input type="text" name="trainmaster_name" placeholder="Username">
				<input type="password" name="trainmaster_password" placeholder="Password">
				{% for message in messages %}
                <p style="color:red;text-align:center;" id="messages">{{message}}</p>
                {% endfor %}
				<input class="btn" type="submit" value="Login">
                <a href="">Forgot password?</a><br>
				<p>Not registered yet? </p>
                <div class="extra">
                <a href="{% url 'home' %}" style="width:7rem;" class='btn'>Go Back</a>
                <a href="{% url 'signup' %}" style="width:10rem;" class='btn'>Register Here</a>
				
                </div>
			</div>
		</div>
		</form>
	</div>
    </body>
    <script src="{% static 'js/login.js'%}"></script>
