{% extends 'railapp/home.html' %}
{% url 'home' as home %}
{% load static %}
{% block content %}
<title>Login</title>
<div class="container">
<h1>Login from here</h1>
<link rel="stylesheet" href="{% static 'css/register.css'%}">

<div class='sign_up'>
<div class="trainmaster">
<button type=""class="btn btn-danger"><a style="text-decoration: none" href="{%url 'log'%}">Trainmaster Login</a></button>
</div> <br>
<div class="guser">
<button type="" class="btn btn-secondary"><a style="text-decoration: none" href="{%url 'guser_signup'%}">General User Login</a></button>
</div>
</div>
</div>
{%endblock%}