{% extends 'railapp/main.html' %}

{% url 'home' as home %}
{% load static %}
{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/registration.css' %}">
<div class="container">
<form  method="POST" accept-charset="utf-8">
<title>Register</title>
{% csrf_token %}
{% with name="guser" %}
{% if user_type == name %}
    <h2>Register As General User</h2>
{% else %}
    <h2>Register As Train Master</h2>
{% endif %}
{{form.as_p}}
<input type="Submit" name="submit" value="Signup">
{% comment %} <a href='{% url 'home' %}' class='y_button'>Go Back</a> {% endcomment %}
</form>
</div>
{% endwith %}
{% endblock %}