{% extends 'railapp/main.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'css/faq.css'%}" />
  </head>
  <body>
    <div class="faqs-container">
      <h2>Frequently Asked Questions</h2>

     
      welcome {{userdetail.username}}
          <br/>
          Asked Questions.
          <br/>
          {% for question in questions %}
          <li>{{question.title}}</li>
          {% endfor %}
          <br/>
          Answers.
          {% for answer in answers %}
          <li>{{answer.answer_text}} by {{answer.user.username}} </li>
          {% endfor %}
      
    </div>

    <script src="{% static 'js/faq.js'%}"></script>
  </body>
</html>
{% endblock content %}