{% extends 'railapp/main.html' %}

{% load static %}
{% block content %}
<html>
<title>Homepage</title>
<style>
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<body>
<p> This is the homepageeeeeeeeeeeeeeeeeeeeeee </p>
<img src="{% static 'images/metrorailimage.jpg' %}" alt="Second slide">
{% static 'images/metrorailimage.jpg' %}
<p>

DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>

DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
vDUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT<br>
v

v
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
DUMMYYYYY TEXTTTTTTTTTTTTTTTTT
</p>
</body>
</body>
</html>
{% endblock content %} 