<!DOCTYPE html>
{% load static %}
{% url 'home' as home %}
{% url 'contact' as contact %}
{% url 'faq' as faq %}
{% url 'signup' as signup %}
{% url 'search' as search %}
{% url 'checkout' as checkout %}
{% url 'userprofile' as userprofile %}
{% url 'trainmasterprofile' as trainmasterprofile %}
{% url 'schedule' as schedule %}
{% url 'seats' as seats %}

<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" href="{% static 'images/bymetrorail.ico' %}" />
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/footer.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    .navbar {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: center;
      padding: 0.5rem 1rem;
    }
    .navbar-brand img{
        width: 150px;
        display:inline-block;
      }
    .navbar{
        box-shadow: 0px 2px 5px #777;
      }
    
    </style>
</head>

</body id = "boddy">
<div class="sticky-top">
    <nav class="navbar navbar-light bg-dark">
    
    <a class="navbar-brand" href="{% url 'home' %}"><img id="brand" src="{% static 'images/bylogometro.png' %}" alt="logo"></a>
      <ul class="mynavbar">
    
        <li class="nav-item {% if request.path == home %} current {% endif %}"><a class="navlink" href="{% url 'home' %}" data-hover="Home">Home</a></li>
        <li class="nav-item" id="hide1"><a class="navlink" href="{% url 'search' %}" data-hover="Buy Ticket">Buy Ticket</a></li>
        <li class="nav-item"><a class="navlink" href="{% url 'schedule' %}" data-hover="Schedule">Schedule</a></li>
        <li class="nav-item {% if request.path == faq %} current {% endif %}"id="hide2"><a class="navlink" href="{% url 'faq' %}" data-hover="FAQ">FAQ</a></li>
        <li class="nav-item {% if request.path == contact %} current {% endif %}"id="hide3"><a class="navlink" href="{% url 'contact' %}" data-hover="Contact Us">Contact Us</a></li>
        
        {% if request.user.is_authenticated and user.is_trainmaster != True %}
        <li class="nav-item {% if request.path == userprofile %} current {% endif %}"><a class="navlink" href="{% url 'userprofile' %}" data-hover="Profile">Profile</a></li>
        <li class="nav-item"><a class="navlink" href="{% url 'log_out' %}" data-hover="Log Out">Log Out</a></li>
        
        </ul>
        {% elif request.user.is_authenticated and user.is_trainmaster == True %}
        <li class="nav-item"><a class="navlink" href="{% url 'seats' %}" data-hover="Seats">Seats</a></li>
        <li class="nav-item {% if request.path == trainmasterprofile %} current {% endif %}"><a class="navlink" href="{% url 'trainmasterprofile' %}" data-hover="Profile">Profile</a></li>
        <li class="nav-item"><a class="navlink" href="{% url 'log_out' %}" data-hover="Log Out">Log Out</a></li>
        <script type="text/javascript"> 
          document.getElementById("hide1").style.display = "none";
          document.getElementById("hide2").style.display = "none";
          document.getElementById("hide3").style.display = "none";
        </script>
        {% else %}

        <li class="nav-item"><a class="navlink" href="{% url 'log' %}" data-hover="Login">Login</a></li>
        <li class="nav-item {% if request.path == signup %} current {% endif %}"><a class="navlink" href="{% url 'signup' %}" data-hover="Register">Register</a></li>
        {% endif %} 
        </ul>
</nav>
</div>

{% comment %} {% if request.user.is_authenticated%} {% endcomment %}

{% block content %}


</body>
{% endblock content %}


<footer>
<footer class="site-footer">
      <div class="footer-container">
        <div class="footer-row">

          <div class="col-sm-12 col-md-6"><h6 style="color:white;">About</h6>
                <p class="text-justify">
                    The Metro Rail Management System is a web-based application that will ensure all information
                    about the metro rail and routes for the public. The system facilitates the passengers to enquire
                    about the trains available based on source and destinations, booking and cancellation of tickets,
                    and checking the status of the train schedule and destination time.
                </p>
           </div>

          

          <div class="col-xs-6 col-md-3">
            <h6 style="color:white;">Our Team Members</h6>
            <ul class="footer-links">
              <li>Farhan Hasin Saad</li>
              <li>Anjoom Nur</li>
              <li>Md Faisal Ahmed </li>
            </ul>
          </div>

          
        <div class="col-xs-6 col-md-3">
                <h6 style="color:white;">Quick Links</h6>
                <ul class="footer-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
          </div>
          
        </div>
        <hr>
      </div>
    </div>
</footer>
</html>
 