{% extends 'railapp/main.html' %}
{% block content %}
{% load static %}
<head>
  <title>Profile</title>
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<style>
  .gutters{
    margin-left: 11rem;
  }
  .thistory{
    margin:auto;
    width: 66rem;
  } 
  .container{
    padding: 4rem!important;
    margin-top: 5rem;
  }
  .form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: erem;
    font-size: .825rem;
    background: #343b43;
    color: #2e323c;
}

.card {
  background: #343b43;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3rem;
  border: 0;
  margin-bottom: 1rem;
}
</style>
</head>
<body>

<div class="container">
  <div class="row gutters">
  

        
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h5 style="text-align:center;padding:1rem;" class="mb-2">Personal Details</h5>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="firstName">Username</label>
           <h6 style="color:white;"> {{ user.username }} </h6>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="email">Email</label>
            <h6 style="color:white;"> {{ user.email }} </h6>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="firstName">First Name</label>
           <h6 style="color:white;"> {{ user.first_name }} </h6>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <h6 style="color:white;"> {{ user.last_name }} </h6>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="phone">Phone</label>
            {% for ggg in gguser %}
            <h6 style="color:white;">{{ggg.phone_number}} </h6>
            {% endfor %}
          </div>
        </div>
        
      </div>
      <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mt-3 mb-2">Address</h6>
          {% for ggg in gguser %}
          <h6 style="color:white;">{{ ggg.location }} </h6>
          {% endfor %}
        </div>
        
      </div>
      <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <a href="{% url 'userupdate' %}"><button type="button" id="submit" name="submit" class="btn btn-primary">Edit</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

  <div class="thistory">
    <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="account-settings">

          <div class="about">
            <h6 style="text-align:center;padding:1rem;">Travel History</h6>
            <table class="table table-striped">
              <thead style="background-color: #343b43;color: rgba(209, 185, 50, 0.89);">
              <td>SOURCE</td>
              <td>DESTINATION</td>
              <td>NUM OF SEATS</td>
              <td>PRICE</td>
              <td>DATE</td>
              <td>TIME</td>
              <td>STATUS</td>
              <td>TICKET STATUS</td>
              <td>QR IMAGE</td>
              <td>TICKET</td>


              </thead>
              <thead style="background-color: #343b43;color: rgb(255, 255, 255);">
              {% for row in book_list %}
              <tr>
                  
                  <td>{{row.source}}</td>
                  <td>{{row.dest}}</td>
                  <td>{{row.nos}}</td>
                  <td>{{row.price}}</td>
                  <td>{{row.date}}</td>
                  <td>{{row.time}}</td>
                  <td>{{row.status}}</td>
                  <td>{{row.payment_status}}
                  {% if row.is_paid %}
                      <td><img style="width:6rem" src="{{row.imageURL}}"></td>
                      <td><a href="{% url 'generatepdf' row.id %}">Download Ticket</a></td>
                  {% endif %}
                  
              </tr>
              {% endfor %}
              </thead>
          </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    
  <body>
  {% endblock content %}